In [3]:
import pandas as pd
import numpy as np
file_to_load = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

# Player Count
* Display the total number of players

In [4]:
player_count = purchase_data["SN"].nunique()
player_num_df = pd.DataFrame({"Total Players" : [player_count]})
player_num_df

   Total Players
0            576

# Purchasing Analysis (Total)
* Run Basic Calculations to obtain number of unique items, averge price, etc.
* Create a summary data frame to hold the results
* Optional: give the displayed data cleaner formatting
* Display the summary data frame

In [5]:
#Purchasing Analysis (Total)
uni_item = purchase_data["Item Name"].nunique()
average_purchase_price = purchase_data["Price"].mean()
total_num_purchase = purchase_data["Item ID"].count()
total_reveneu = purchase_data["Price"].sum()
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items" : [uni_item],
                                        "Average Price" : [average_purchase_price],
                                        "Number of Purchases": [total_num_purchase],
                                        "Total Revenue" : [total_reveneu]})                                       

purchasing_analysis_df["Average Price"]=purchasing_analysis_df["Average Price"].map("${:.2f}".format)
purchasing_analysis_df["Total Revenue"]=purchasing_analysis_df["Total Revenue"].map("${:,.2f}".format)
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

#  Gender Demographics
* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

In [6]:
gender_df = pd.DataFrame(purchase_data["Gender"].value_counts())
total_player = gender_df["Gender"].sum()

gender_df["Percentage of Players"] = gender_df["Gender"]*100  /total_player

gender_df = gender_df.rename(columns={"Gender" : "Total Count"})

gender_df = gender_df [["Percentage of Players", "Total Count"]]

gender_df["Percentage of Players"] = gender_df["Percentage of Players"].map("{:.2f}%".format)

gender_df

                      Percentage of Players  Total Count
Male                                 83.59%          652
Female                               14.49%          113
Other / Non-Disclosed                 1.92%           15

#  Purchasing Analysis (Gender)
* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
* Create a summary data frame to hold the results
* Optional: give the displayed data cleaner formatting
* Display the summary data frame

purchase_data.head()

In [19]:
gender_gp = purchase_data.groupby("Gender")
gender_analysis_df = pd.DataFrame({"Purchase Count" : gender_gp["Purchase ID"].count(),
                                  "Average Purchase Price": gender_gp["Price"].mean(),
                                  "Total Purchase Value": gender_gp["Price"].sum(),
                                  "Avg Purchase Total Per Person": gender_gp["Price"].sum()/gender_gp["Purchase ID"].count() })
gender_analysis_df["Average Purchase Price"] =gender_analysis_df["Average Purchase Price"].map("${:.2f}".format)
gender_analysis_df["Total Purchase Value"] =gender_analysis_df["Total Purchase Value"].map("${:,.2f}".format)
gender_analysis_df["Avg Purchase Total Per Person"] =gender_analysis_df["Avg Purchase Total Per Person"].map("${:.2f}".format)
gender_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Total Per Person
Gender,,,,
Female,113,$3.20,$361.94,$3.20
Male,652,$3.02,"$1,967.64",$3.02
Other / Non-Disclosed,15,$3.35,$50.19,$3.35

# Age Demographics
* Establish bins for ages
* Categorize the existing players using the age bins. Hint: use pd.cut()
* Calculate the numbers and percentages by age group
* Create a summary data frame to hold the results
* Optional: round the percentage column to two decimal points
* Display Age Demographics Table